<h1>My Tasks</h1>
<ul>
<% @tasks.each do |task| %>
<li>
  <% if task.completed %>
    <input type="checkbox" checked><%= link_to task.title, task_path(task) %>
  <% else %>
    <input type="checkbox"><%= link_to task.title, task_path(task)%>
  <% end %>
</li>
<% end %>
</ul>
<%= link_to "Add a new task", new_path%>

